@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorName, #errorPhone {
    display: none;
    color: crimson;

} 
.error{
    color: crimson;
}
.valid{
    display: none;

}
.invalid{
    display: block;
    color: crimson;

}
.inputErr {
    color: #ff0000;
    border: 5px solid crimson;

}

.inputVal{
    border: 5px solid #05c535;
}
