@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;
}
/* navbar */
.navbar{
    background-color: rgb(43, 43, 43) !important;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: white;
}
.grocery-img{
    width: 60%;
    margin: 1rem auto;
}

.price{
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

ul.list {
    list-style: none;
}

h1.welcome {
    background: rgba(182, 132, 197, 0.671);
}

.section-grocery {
    background-image: url('../images/grocery.jpeg');
}
.section-clothes {
    background-image: url('../images/clothes.jpeg');
}
.section-beauty {
    background-image: url('../images/beauty.jpeg');
}

.section-grocery h2, .section-clothes h2, .section-beauty h2 {
    background: rgba(91, 57, 104, 0.7);
}

.card {
    background: rgba(86, 117, 151, 0.9);
}
